@model EntityLayer.Concrete.Speaker
@{
    ViewData["Title"] = "AddSpeaker";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("AddSpeaker", "Speaker", FormMethod.Post))
{
    <div class="col-xl-12 order-xl-1">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Add New Talks & Workshops</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="pl-lg-4">  
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.Label("Title")
                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.Label("Subject")
                                @Html.TextAreaFor(x => x.Subject, 0, 12, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Subject, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.Label("Date")
                                @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Date, null, new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <button class="btn btn-large btn-primary">Save</button>
                    </div>
                </div>

            </div>

        </div>
    </div>

}

